@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
// app.scss// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here$primary: darken(#428bca, 20%);
// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
// 4. INCLURE TOUT
@import "bootstrap";
// 4. OU importer quelques composants
//@import "bootstrap/scss/root";
//@import "bootstrap/scss/reboot";
//@import "bootstrap/scss/type";
//@import "bootstrap/scss/images";
//@import "bootstrap/scss/containers";
//@import "bootstrap/scss/grid";
body{
  font-family: 'Raleway',sans-serif;
}
.homepage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../public/img/bg.jpg"); /* Chemin de l'image de fond */
  background-size: cover; /* Ajuster l'image pour couvrir toute la div */
  background-position: center; /* Centrer l'image horizontalement */
  height: 100vh; /* Hauteur maximale de 100% de la hauteur de l'écran */
  color: white;
  text-shadow: #000000 2px 2px 2px;
  img{
    height: 300px;
  }
}
.forfait{
  display: flex;
  justify-content: center;
  > div{
    margin:15px;
    width: 15rem;
  }
}
.oldPrice{
  color:lightblue;
  text-decoration: line-through;
}
nav{
  background-color:lightblue ;
}
.uni{
  width: 5rem;
  height: 8px;
  margin: 3px;
  border-radius: 2px;
}
.gray{
  background-color: gray;
}
.blue{
  background-color: cornflowerblue;
}
.baie{
  display: inline-block;
  border: 6px solid lightblue;
  border-radius: 5px;
}
.baie_name{
  text-align: center;
}

.alert{
  margin-bottom: 0;
}
.cercle {
  width: 30px;
  height: 30px;
  position: fixed; /* Positionnement fixe par rapport à la fenêtre d'affichage */
  bottom: 5px;
  right: 5px;
  background-color: rgba(30,30,30,0.7); /* Couleur de fond de la div, remplacez par votre couleur préférée */
  color: #fff; /* Couleur du texte, remplacez par votre couleur préférée */
  padding: 10px; /* Marge intérieure pour le contenu */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
}
.dropdown-img{
  clip-path: circle(25px);
  height: 60px;
  padding: 0;
}
.navbar{
  padding: 1px 0 1px 0;
}
.nav-item{
  display: flex;
  align-items: center;
}